.body{
    background-color: antiquewhite;
    color: black;
}
.menu {
    background-color: white;
    color: green;
}
@media (prefers-color-scheme: dark) {
    body {
        background: red;
        color: aqua;
    }
    .menu {
        background-color: aqua;
        color: red;
    }
}