h1 {
    color: black;
    background-color: blueviolet;
}
footer {
    background-color: black;
    color: aquamarine;
}
@media screen and (max-width: 1024px) {
    footer {
        color: blue;
        background-color: greenyellow;
    }
}
@media screen and (max-width: 768px) {
    footer {
        color: red;
        background-color: blue;
        font: 900;
    }
}
@media screen and (max-width: 480px) {
    footer {
        color: green;
        background-color: gray;
    }
}
@media print {
    body {
        font-size: 12pt;
        color: black;
        background: white;
    }
}